# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual environments
env/
venv/
backend/env/
backend/venv/

# Node.js
node_modules/
build/
dist/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Entorno
.env
